services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: cater
      POSTGRES_PASSWORD: cater
      POSTGRES_DB: cater_sklad
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:

